body { padding-top: 40px; padding-bottom: 0px; }

.jumbotron:after {
    background: url("../img/bs-docs-masthead-pattern.png") repeat scroll center center transparent;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
}

.subhead {
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.jumbotron {
    /*background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;*/
	background: -moz-linear-gradient(45deg, #220000 40%, #440000 100%) repeat scroll 0 0 transparent;
    -webkit-linear-gradient(45deg, #220000 0%,#440000 100%);

    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #220000;
    background: -moz-linear-gradient(45deg, #220000 40%, #440000 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(40%,#220000), color-stop(100%,#440000));
    background: -webkit-linear-gradient(45deg, #220000 40%,#440000 100%);
    background: -o-linear-gradient(45deg, #220000 40%,#440000 100%);
    background: -ms-linear-gradient(45deg, #220000 40%,#440000 100%);
    background: linear-gradient(45deg, #220000 40%,#440000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#220000', endColorstr='#440000',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);




    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 40px 0;
	margin: 0;
    position: relative;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 20px 0;
    text-align: center;
}

.container-main {
    margin-top: 30px;
}

h5 {
    margin-bottom: -10px;
    color: #777;
}

hr.soften {
    background-image: -moz-linear-gradient(left center , transparent, rgba(0, 0, 0, 0.1), transparent);
    height: 1px;
    margin: 40px 0 10px;
}

ul, ol {
    margin: 0 0 10px 14px;
    padding: 0;
}